.footer {
  width: 100%;
  background-color: #F8F8F8;
}

.footer__inner {
  padding-top: 43px;
  padding-bottom: 49px;
  text-align: center;
}

.footer h2 {
  font-size: 24px;
  line-height: 35px;
  padding-bottom: 21px;
  font-weight: bold;
}

.footer__txt {
  padding-bottom: 52px;
}

.footer span {
  font-weight: bold;
}

.footer__policy {
  padding-right: 29px;
}

.footer p {
  font-size: 14px;
}

@media (max-width: 720px) {
  .footer__inner {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .footer__txt {
    padding-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .footer__inner h2 {
    font-size: 20px;
    padding-bottom: 12px;
  }
  .footer__inner p {
    font-size: 12px;
  }
  .footer__txt {
    padding-bottom: 20px;
  }
  .footer__txt span {
    font-size: 14px;
  }
}
