.footer {
  width: 100%;
  background-color: #F8F8F8;

  &__inner {
    padding-top: 43px;
    padding-bottom: 49px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 21px;
    font-weight: bold;
  }

  &__txt {
    padding-bottom: 52px;
  }

  span {
    font-weight: bold;
  }

  &__policy {
    padding-right: 29px;
  }

  p {
    font-size: 14px;
  }
}

@media(max-width:720px) {
  .footer {
    &__inner {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    &__txt {
      padding-bottom: 30px;
    }
  }
}

@media(max-width:420px) {
  .footer {
    &__inner {
      h2 {
        font-size: 20px;
        padding-bottom: 12px;
      }

      p {
        font-size: 12px;
      }
    }

    &__txt {
      padding-bottom: 20px;

      span {
        font-size: 14px;
      }
    }
  }
}