.price {
  background-color: #EEFBFB;
  width: 100%;

  &__inner {
    @include layout;
    padding-top: 55px;
    padding-bottom: 68px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__ttl {
    @include ttl;
    padding-bottom: 70px;

  }

  &__table {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #000029;
    border: 1px solid #E5E5E5;
    margin-bottom: 36px;

    table {
      width: 100%;
      border-collapse: collapse;
    }

    td {
      border: 1px solid #E5E5E5;
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  &__page {
    padding-left: 19px;
    padding-right: 34.5px;
    font-weight: bold;
    width: 30%;
  }

  &__price {
    padding-left: 30.5px;
    font-weight: bold;
  }

  &__caution {
    text-align: center;
    font-weight: bold;
  }
}

@media(max-width:720px) {
  .price {
    &__page {
      width: 50%;
      text-align: center;
      padding-right: 19px;
    }

    &__price {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media(max-width:420px) {
  .price {
    &__inner {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__page {
      font-size: 14px;
    }

    &__price {
      font-size: 14px;
    }

    &__caution {
      font-size: 14px;
    }
  }

}