@mixin ttl {
  text-align: center;
  padding-bottom: 57px;

  h2 {
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  p {
    color: #3BA6C9;
    font-size: 16px;
    line-height: 24px;
  }

  @media(max-width:720px) {
    padding-bottom: 30px;
  }

  @media(max-width:420px) {
    padding-bottom: 30px;

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
}