body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  max-width: 100%;
  margin-top: 94px;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  background-position: top -30px right -85px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}