@mixin button {
  font-size: 14px;
  color: #FFFFFF;
  padding: 8px 36px 10px 35px;
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%);
  box-shadow: 0px 3px 6px #000029;
  border-radius: 10px;
}