.works {
  width: 100%;

  &__inner {
    @include layout;
    max-width: 1100px;
    padding-top: 55px;
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__ttl {
    @include ttl;
  }

  &__wrapper {
    display: flex;
  }

  &__box {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__box-info {
    height: 196px;
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 40px;
    padding-left: 18px;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }

    p {
      margin-top: auto;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media(max-width:720px) {
  .works {
    &__inner {
      padding-top: 20px;
      padding-bottom: 30px;
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}

@media(max-width:420px) {
  .works {
    &__box-info {
      padding-bottom: 30px;

      h2 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}